.homeImage{
    background-image: url("../../images/home2.jpg");
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
    opacity: 0.6;
}
.header-image__container{
    background-color: black;
}
