.resultDiv{
    background-color:rgb(236, 236, 236);
    color: black;
    z-index: 100;
    padding: 15px;
    margin-left: 12px;
}

.result__container{
    /* margin-top: 15px; */
    display: flex;
    flex-direction: column;
    width: 442px;
}
