.user-navbar__container{
    display: flex;
    flex-direction: column;
    width: 29.8%;
    height: 100%;
    align-items: flex-start;
    background-color: rgba(223, 223, 223, 0.363);
}

.nav-link{
    padding: 10px 20px;
    font-weight: bold;
    color: #333339;
    outline: transparent solid 2px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: transparent;
    outline-offset: -2px;
}

.nav-link:hover{
    color: rgba(255, 0, 0, 0.596);

}
.nav-user__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}
.nav-user-icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.links__container{
    display: flex;
    flex-direction: column;
    position: -webkit-sticky;
    position: sticky;
    top: 150px;
}
