.addCuisineForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}
.cuisineForm__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}
.cuisine-header{
    border-bottom: 1px solid rgba(155, 155, 155, 0.815);
    color: rgba(255, 0, 0, 0.774);
}
.cuisine-input__container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.cuisine-input{
    padding: 8px;
    margin: 4px 0px;
    margin-left: 8px;

}


.addcuisine-button{
    border: unset;
    padding: 10px;
    width: 80px;
    border-radius: 20px;
    cursor: pointer;
    color: rgba(0, 128, 0, 0.705);
    font-weight: bold;
    background-color: rgba(233, 231, 231, 0.781);
    border: 1px solid rgba(0, 128, 0, 0.705);
    transition: ease-in-out 0.3s;

}
.addcuisine-button:hover{
    background-color: rgba(0, 128, 0, 0.705);
    color: white;
}
